/ = javascript_pack_tag 'hello_react', 'data-turbolinks-track': 'reload'
h1 アイデア一覧
/ = react_component("HelloWorld", { greeting: "こんにちは！"})
= react_component("hello_react", name: 'World')
= react_component("counter")

/ - @ideas.each do |idea|
/   = idea.title
/   |  
/   = idea.elevatorpitch
/   br
