.usage-container {
  padding: 1rem 4rem;
}

.left-description {
  margin: 1rem 1rem;
}

ul {
  list-style: none;
}

li {
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
}


@media screen and (max-width: 480px) {
	.usage-container {
    padding: 0rem 1rem;
  }

  .left-description {
    margin: 0rem 0rem;
  }

  .usage-body {
    padding: 1rem 1.5rem;
  }
}
