.idea-header {
  border-bottom: 1px solid $grey-lighter;
}

.idea__items {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.idea__item {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.user-name {
  border-bottom: 1px solid $grey-lighter;
}

.comment__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey-lighter;
}

.comment__description {
  word-break: break-all;
  word-wrap: break-word;
}

.comment__destroy-link {
  border-top: 1px solid $grey-lighter;
}
