.idea-container {
  min-height: calc(100vh - 57px - 202px);
  box-sizing: border-box;
}

.idea-title {
  border-bottom: 1px solid #E4E6E8;
}

.idea__items {
  border-top: 1px solid #E4E6E8;
  justify-content: flex-end;
}

.user-name {
  border-bottom: 1px solid #E4E6E8;
}

.comment__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E4E6E8;
}

.comment__destroy-link {
  border-top: 1px solid #E4E6E8;
}
