.ideas-container {
  position: relative;
}

.new-idea-button-container {
  color: black;
  position: fixed;
  top: 85%;
  left: 80%;
}

.new-idea-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.box {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
}

.box:not(:last-child) {
  margin-bottom: 0rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
  margin-bottom: -.25rem;
}

.buttons:not(:first-child) {
  margin-bottom: 0rem;
}

.buttons:not(:last-child) {
  margin-bottom: 0rem;
}
