$navbar-item-img-max-height: 2.0rem;
$container-max-width: 768px;
$box-shadow: none;
$card-shadow: none;
$card-header-shadow: none;
$warning: orange;
$title-line-height: 1.4;

@import "bulma";
@import "devise/**/*";
@import "ideas/**/*";

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper__start {
  flex: 1;
}

.main__body {
  padding: 2rem 0;
}

.box,
.card {
  border: solid 1px $grey-lighter;
}

.card-header {
  border-bottom: solid 1px $grey-lighter;
}

html, body {
  height: 100%;
}

.container {
  &.is-auth {
    max-width: 480px !important;
  }
  &.is-max {
    max-width: 100% !important;
  }
  &.is-fullhd {
    max-width: 1344px !important;
  }
  &.has-padding {
    @include tablet {
      padding: 0 2rem;
    }
    @include mobile {
      padding: 0 1rem;
    }
  }
}

.field {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.notice,
.alert {
  padding: .75rem 0;
}

.feature {
  background-color: orange;
  width: 64px;
  height: 64px;
}
